* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #222;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
    overflow: hidden;
    border-radius: 20px;
}

.card  {
    position: relative;
    margin: 25px;
    width: 200px;
    height: 300px;
    background-color: rgb(67, 141, 77);
    border-radius: 20px;
    overflow: hidden;
}

.card1  {
    position: relative;
    margin: 25px;
    width: 200px;
    height: 300px;
    background-color: rgb(141, 140, 67);
    border-radius: 20px;
    overflow: hidden;
}

.container .card::before {
    content: '';
    position: absolute;
    background: radial-gradient(var(--clr), transparent,transparent);
    width: 500px;
    height: 500px;
    top:var(--y);
    left:var(--x);
    transform: translate(-50%,-50%);
} 
.container .card:hover::before {
 opacity: 1;   
}
.container .card1::before {
    content: '';
    position: absolute;
    background: radial-gradient(var(--clr), transparent,transparent);
    width: 500px;
    height: 500px;
    top:var(--y);
    left:var(--x);
    transform: translate(-50%,-50%);
} 
.container .card1:hover::before {
 opacity: 1;   
}

.container .card::after {
    content: '';
    position: absolute;
    inset: 3px;
    border-radius: 5px;
    background: #222;
}